body, html { 
    font-family: 'Archivo', sans-serif!important;
    font-size: 14px;
}

:root {
    --primary: #0DBE7D;
    --background-grey: #F8F8F8;
    --light-grey: #D9D9D9 ;
    --dark-grey: #555555 ;
    --med-grey: #9B9B9B ;
}

.custom-btn {
    background-color: var(--primary);
    border-radius: 100px;
    padding: .5rem 1rem .5rem 1rem;
    font-weight: 600;
    border: none;
    width: 100%;
}

.secondary {
    background-color: white;
    border: 1px solid var(--light-grey);
    color: var(--dark-grey);
    font-weight: 300;
}



.background {
    background-color: var(--background-grey);
    height: 100vh;
    width: 100%;
}

.content-container {
    background-color: white;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 2.5rem 3rem 2.5rem 3rem;

}

h1 {
    font-weight: 600;
}

h2 {
    font-weight:600;
    font-size: 1.2em;
    margin: 0;
}

h4{
    font-weight: 300;
    font-size: .8em;
    color: var(--med-grey);
    margin: 1em;
}

p {
    font-weight: 400;
    /* font-size: .8em;    */
}

.text-btn {
    font-weight: 500;
    color: var(--primary);
    cursor: pointer;
    text-decoration: none;

}

.text-btn:hover {
    opacity: .5;
}


.form-label {
    margin: 1em 0 0 0 ;
    color: var(--dark-grey);
}